<footer>

    <div class="f-info">
        <div class="f-socials">
            <a href="https://www.instagram.com/prabhat7_7/>"><i class="fa-brands fa-instagram"></i></a>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="c-name"> &copy;NESTSEEK Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/">Terms</a>
        </div>
    </div>

</footer>